%main.w-screen.h-screen.p-3.flex.flex-col.justify-center.items-center.gap-6
  = link_to t('.sign_in'),
            new_user_session_path,
            class: 'btn btn-primary'
  = link_to t('.sign_up'),
            new_user_registration_path,
            class: 'btn btn-primary'
