%h1.text-3xl Hi
= link_to t('.sign_in'),
          new_user_session_path,
          class: 'btn btn-primary'
= link_to t('.sign_up'),
          new_user_registration_path,
          class: 'btn btn-primary'
