= render 'shared/subtitle', text: "Privacy Policy (v#{@policy.version || 'preview'})"

%main.flex.flex-col.gap-3.text-center
  .policy-content.my-6.prose.mx-auto.text-secondary.override-headings
    = markdown(@policy.content)