-# locals: (user:)

= form_with model: [user.organisation, user],
            html: { class: 'form',
                    data: { controller: 'fields' } } do |f|
  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:

  %p this is an admin form

  = f.submit class: 'btn btn-primary'
