:ruby
  button_styles = 'transition hover:scale-105'
  container_actions = 'click@window->dropdown#hide touchstart@window->dropdown#hide ' \
                      'keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem ' \
                      'keydown.esc->dropdown#hide'
  menu_styles = 'hidden absolute top-12 -left-2 z-10 flex flex-col bg-color-main ' \
                'gap-2 p-3 rounded-b-lg'

%div{ class: 'inline-block relative flex items-center p-3',
      data: { action: container_actions, controller: 'dropdown' } }
  %button{ class: 'flex items-center transition hover:scale-105',
           data: { action: 'dropdown#toggle:stop' },
           type: 'button' }
    = image_tag 'themes.svg',
                class: 'invert',
                height: 40,
                width: 40,
                title: 'Select theme'
  %ul{ class: menu_styles,
       data: { 'dropdown-target': 'menu' } }
    %li
      %button{ class: button_styles,
               data: { action: 'theme#switch',
                       'dropdown-target': 'menuItem',
                       theme: 'base' } }
        Default
    %li
      %button{ class: button_styles,
               data: { action: 'theme#switch',
                       'dropdown-target': 'menuItem',
                       theme: 'org_3' } }
        Blue
    %li
      %button{ class: button_styles,
               data: { action: 'theme#switch',
                       'dropdown-target': 'menuItem',
                       theme: 'org_2' } }
        Dark
