-# locals: (f:, lesson:)

= f.hidden_field :type, value: lesson.type

= render 'lessons/shared/pdf_image_field', f:, lesson:

- Exercise::LISTABLE_ATTRIBUTES.each do |attr|
  = render('lessons/shared/list_fields', attr:, f:, lesson:)

= render('lessons/shared/link_fields', f:, lesson:)
