-# locals: (f:, lesson:)

= f.hidden_field :type, value: lesson.type

- PhonicsClass::LISTABLE_ATTRIBUTES.each do |attr|
  = render('lessons/shared/list_fields', f:, lesson:, attr:)

= render('lessons/shared/link_fields', f:, lesson:)
