-# locals: (f:, lesson:)

= content_for :priority_fields do
  = render 'lessons/shared/pdf_image_field',
           f:,
           lesson:,
           attr: :pdf_image

- PhonicsClass::LISTABLE_ATTRIBUTES.each do |attr|
  = render('lessons/shared/list_fields', f:, lesson:, attr:)

= render('lessons/shared/link_fields', f:, lesson:)
