= render 'shared/subtitle', text: t('.students')

%main.flex.flex-col.gap-3.p-3
  - unless current_user.is?('Teacher', 'Writer')
    = link_to t('.create_student'),
              new_student_path,
              class: 'btn btn-secondary'

  = render 'student_searches/form',
           schools: @schools

  = render 'students/table', students: @students
