%main.flex.flex-col.gap-3.p-3
  %h1= t('.students')

  - unless current_user.is?('Teacher', 'Writer')
    = link_to t('.create_student'),
              new_student_path,
              class: 'btn btn-primary'

  = render 'students/table', students: @students
