-# locals: (organisation:)

.flex.flex-col.p-3.rounded.border
  = link_to organisation.name,
            organisation_path(organisation),
            class: 'text-2xl'
  %h3.text-xl= organisation.email
  %h3.text-xl= organisation.phone
  %p= organisation.notes
