-# locals: (org_id:)

%div{ class: 'border-2 border-color-main rounded overflow-hidden w-fit',
      data: { controller: 'clipboard', 'clipboard-success-content-value': t('copied') } }
  %code.p-2{ data: { 'clipboard-target': 'source' } }
    = new_user_registration_url(organisation_id: org_id)
  %button{ class: 'border-l-2 border-color-main bg-color-main-50 p-2 hover:bg-color-main-50',
           data: { action: 'clipboard#copy',
                   'clipboard-target': 'button' },
           type: 'button' }
    = t('.copy_new_parent_link')
