.flex.flex-col.gap-3.p-3
  %h1= t('.org_list')
  = link_to t('.add_organisation'),
            new_organisation_path,
            class: 'btn btn-primary'

%main.flex.flex-wrap.justify-between.gap-1.p-3
  = render partial: 'organisations/card',
           collection: @organisations,
           as: :organisation
  .flex-grow
