-# locals: (active:, orgs:, school:)

%nav.flex.flex-wrap.gap-3
  - orgs.each do |org|
    = link_to org.name,
              test_test_results_path(test_id: @test.id,
                                     org_id: org.id,
                                     school_id: school.id),
              class: "btn btn-outline #{'bg-secondary text-white' if active.id == org.id}"
