-# locals: (active:, org:, schools:)

%nav.flex.gap-3.p-3
  - schools.each do |school|
    = link_to t(".#{school.name}"),
              test_test_results_path(test_id: @test.id,
                                     org_id: org.id,
                                     school_id: school.id),
              class: "btn #{active.id == school.id ? 'btn-primary' : 'btn-secondary'}"
