-# locals: (f:, skill:, test:)

- skill_symbol = skill.to_sym

- return if test.send(skill_symbol).empty?

- test.send(skill_symbol).each_with_index do |max_score, i|
  %td.p-1
    .flex.justify-center.items-center.gap-1
      = number_field_tag "test_result[answers][#{skill}][]",
                         f.object.answers[skill],
                         min: 0,
                         max: max_score,
                         value: f.object.send(skill_symbol)[i] || 0,
                         class: 'w-12 text-center',
                         data: { action: 'test-result#calculate',
                                 'test-result-target': skill }

%td{ class: 'p-1 bg-ku-purple/50' }
  .flex.justify-center.items-center.gap-1
    - value = f.object.send(fieldname_from_skill(skill).to_sym) || 0
    = f.hidden_field fieldname_from_skill(skill),
                     value:,
                     data: { 'test-result-target': target_from_skill(skill) }
    %p{ data: { 'test-result-target': target_from_skill(skill) } } #{value}%
