-# locals: (f:, skill:, test:)

- return if test.send(skill.to_sym).empty?

- test.send(skill.to_sym).each do |max_score|
  %td.p-1
    .flex.justify-center.items-center.gap-1
      = number_field_tag "test_result[answers][#{skill}][]",
                         f.object.answers[skill],
                         min: 0,
                         max: max_score,
                         class: 'w-16 text-center'

%td.p-1
  .flex.justify-center.items-center.gap-1
    = f.text_field fieldname_from_skill(skill),
                   readonly: true,
                   min: 0,
                   max: 100,
                   class: 'w-10 text-center'
    %p %
