-# locals: (orgs:)

%h2= t('.orgs')
%nav.flex.flex-wrap.gap-3.p-3
  = link_to t('.all_users'), users_path, class: 'btn btn-info'

  - orgs.each do |org|
    = link_to org.name,
              organisation_users_path(org),
              class: 'btn btn-info'
