-# locals: (org: current_user.organisation_id)

%details.dropdown{ id: 'create_user' }
  %summary.font-semibold.p-2= t('.create_new')
  %nav.dropdown-nav
    - current_user.class::VISIBLE_TYPES.each do |type|
      - next if !current_user.ku? && User::KU_TYPES.include?(type)

      - type_path = send(:"new_organisation_#{type.singularize.underscore}_path",
                         org)
      = link_to split_on_capitals(type),
                type_path,
                class: 'dropdown-item',
                id: "create_#{type.singularize.underscore}"
