-# locals: (org: current_user.organisation_id)

%nav.flex.flex-wrap.items-center.gap-2.p-3
  %h3= t('.create_new')
  - current_user.class::VISIBLE_TYPES.each do |type|
    - next if !current_user.ku? && User::KU_TYPES.include?(type)

    - type_path = send("new_organisation_#{type.singularize.underscore}_path", org)
    = link_to split_on_capitals(type),
              type_path,
              class: 'btn btn-primary',
              id: "create_#{type.singularize.underscore}"
