-# locals: (org_teachers:)

%details.dropdown.bg-secondary.text-white
  %summary.font-semibold.p-2 See teacher profile for:
  %nav.dropdown-nav
    - org_teachers.each do |org|
      = link_to org[:org].name,
                organisation_teacher_path(id: org[:teacher].id,
                                          organisation_id: org[:org].id),
                class: 'dropdown-item'
