%h1= @org ? t('.org_users', org: @org.name) : t('.users')

- if @orgs
  = render 'users/between_org_nav', orgs: @orgs

- if @org
  = render 'users/within_org_nav', org: @org

= render 'users/table', org: @org, users: @users
