%h1= @org ? t('.org_users', org: @org.name) : t('.users')

= render 'users/between_org_nav', orgs: @orgs if @orgs

= render 'users/within_org_nav', org: @org || current_user.organisation

= render 'users/table', org: @org, users: @users
