-# locals: (classes: '', text:)

%div{ class: "w-full bg-ku-gray-100 text-ku-gray-900 font-semibold py-2 px-3 relative #{classes}" }
  .absolute.h-full.flex.items-center.-mt-2
    %h3.text-base= ja_date(Time.zone.now)
  %h1= text
