-# locals: (tutorials:)

%section.resource-section
  %h2.col-span-2.font-bold.text-xl Files
  - tutorials.each do |tutorial|
    = link_to file_path(id: tutorial.file.blob.id),
              target: '_blank',
              rel: 'noopener',
              class: 'btn-outline justify-between' do
      %span{ class: 'basis-5/6 truncate' }= tutorial.title
      = render 'shared/svgs/download_icon',
               classes: 'fill-secondary'
