-# locals: (tutorials:)

%section.resource-section
  %h2.col-span-2.font-bold.text-xl Videos
  - tutorials.each do |tutorial|
    %button{ class: 'btn-outline text-start justify-between',
             type: 'button',
             data: { action: 'dialog#open',
                     controller: 'dialog',
                     'dialog-dialog-value': 'video-tutorial',
                     'dialog-frame-value': 'video-tutorials',
                     'dialog-src-value': tutorial_path(tutorial),
                     turbo_frame: '_top' } }
      %p{ class: 'basis-5/6 truncate' }
        = tutorial.title
      = render 'shared/svgs/watch', classes: 'fill-secondary w-6 h-6'
