= render 'shared/subtitle', text: "Editing #{@tutorial.class.name.titleize}"

%main
  = render "tutorials/forms/#{@type.downcase}_form",
           tutorial: @tutorial,
           categories: @categories
