- admin = current_user.is?('Admin')

-# TODO subtitle stuff

- if admin 
    .w-full.flex.justify-center.p-3 
    = link_to 'New Tutorial',
              new_tutorial_path,
              class: 'btn btn-info'