= turbo_frame_tag 'video-tutorials' do
  %section.flex.items-center.justify-center.h-full.w-full.p-4
    - if @tutorial
      %iframe{ src: @tutorial.video_path, frameborder: '0',
               allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
               allowfullscreen: true, class: 'w-full h-full' }
    - else
      %h1= t('.no_video')
