= render 'shared/subtitle', text: t('.category_resources')

%main.p-3.flex.flex-col.gap-3
  = link_to 'New Category Resource',
            new_category_resource_path,
            class: 'btn btn-secondary w-full'

  = render 'category_resources/search_form'

  = render 'category_resources/table',
           category_resources: @category_resources
