%section.w-full.text-center.flex.flex-col.gap-3
  %h3 CSVs should be formatted as follows:
  %table.w-full
    %thead
      %tr
        %th.thead.thead-s.bg-secondary-50 name
        %th.thead.bg-secondary-50 email
        %th.thead.bg-secondary-50 password
        %th.thead.thead-e.bg-secondary-50 password_confirmation
    %tbody
      %tr
        %td 陽葵
        %td example@gmail.com
        %td akgsdgh3242%($
        %td akgsdgh3242%($
      %tr
        %td ...
        %td ...
        %td ...
        %td ...
      %tr
        %td Name in Japanese or English
        %td Teacher's email
        %td Teacher's password
        %td Confirm teacher's password
