-# locals: (teacher:)

%tr.uploaded{ data: { controller: 'upload-summary',
                      'upload-summary-status-value': 'Uploaded' } }
  %td.bg-green-200= teacher.name
  %td.bg-green-200= teacher.email
  %td.bg-green-200 ****
  %td.bg-green-200 ****
  %td.bg-green-200.flex.items-center.justify-center.gap-2.p-2
    %p Uploaded
    %span.material-symbols-outlined download_done
