-# locals: (user:, orgs:)

= form_with model: [user.organisation, user],
            html: { class: 'form',
                    id: 'writer_form' } do |f|
  = render 'shared/form_errors', resource: @user

  = render 'users/fields', f:, orgs:

  %p this is a writer form

  = f.submit class: 'btn btn-main',
             id: 'submit_writer'
