= render 'shared/subtitle', text: t('.classes')

%main.flex.flex-col.items-center.gap-3.p-3
  - if current_user.is?('Admin', 'OrgAdmin', 'SchoolManager')
    = link_to t('.create_class'),
              new_school_class_path,
              class: 'btn btn-main'

  = render 'school_classes/table', classes: @school_classes
