-# locals: (lessons:)

%table{ class: 'w-full text-center', id: 'lesson_table' }
  %thead
    %tr
      %th Title
      %th Status
      %th Approved by
      %th Actions
  %tbody
    - lessons.each do |lesson|
      %tr
        %td.p-1
          = link_to lesson.title,
                    lesson_path(lesson)
        %td.flex.flex-wrap.justify-center.items-center.gap-1.p-1
          = render 'shared/visibility_badges',
                   approved: lesson.approved?,
                   released: lesson.released?
        %td= (lesson.curriculum_approval + lesson.admin_approval).pluck('name').to_sentence
        %td.flex.flex-wrap.justify-center.items-center.gap-1.p-1.text-sm
          = render 'shared/visibility_toggles', resource: lesson
