-# locals: ()

%details.dropdown.bg-secondary.text-white{ id: 'create_lesson' }
  %summary.p-2.font-semibold Create a lesson
  %nav.dropdown-nav
    - Lesson::TYPES.each do |type|
      = link_to split_on_capitals(type),
                new_lesson_path(type:),
                class: 'dropdown-item',
                id: "create_#{type.underscore}"
