-# locals: ()

%details{
  class: 'cursor-pointer bg-ku-orange text-white font-semibold rounded-md overflow-hidden',
  id: 'create_lesson'
}
  %summary.bg-ku-purple.p-2 Create a lesson
  .flex.flex-col
    - Lesson::TYPES.each do |type|
      = link_to split_on_capitals(type),
                new_lesson_path(type:),
                class: 'p-1 opacity-90',
                id: "create_#{type.underscore}"
