-# locals: (lesson:)

- if lesson
  .w-full.flex.flex-col.gap-3
    - if lesson.guide.blob
      = link_to 'Guide',
                file_path(id: lesson.guide.blob.id),
                target: '_blank',
                rel: 'noopener',
                class: 'flex items-center bg-color-main rounded font-bold text-white py-1 px-3'

    %details.rounded.border.border-color-secondary.overflow-hidden
      %summary.flex.items-center.bg-color-secondary.font-bold.text-white.py-1.px-3
        Resources
        .flex-grow
        %span.font-extrabold.text-xl= '>'
      .flex.flex-col.gap-2.p-1
        - lesson.resources.each do |r|
          = link_to r.blob.filename,
                    file_path(r.blob),
                    target: '_blank',
                    rel: 'noopener',
                    class: 'text-color-secondary'
