-# locals: ()

%div{ class: 'flex flex-col gap-5 p-5 basis-1/5' }
  %h3.text-ku-purple.font-bold.text-center= cycle('English Class, Daily Activity')
  = image_tag 'daily_activity.svg', class: 'w-full'
  .flex.flex-col.gap-3
    %div{ class: 'flex items-center bg-ku-orange rounded-xl font-bold text-white p-1' }
      Guide
      .flex-grow
      %span.font-extrabold.text-xl= '>'

    %details.rounded-xl.border.border-ku-purple.overflow-hidden
      %summary.flex.items-center.bg-ku-purple.font-bold.text-white.p-1
        Resources
        .flex-grow
        %span.font-extrabold.text-xl= '>'
      .flex.flex-col.gap-2.p-1
        Resource 1
        Resource 2
        Resource 3
