-# locals: (lesson:)

%div{ class: 'flex flex-col gap-5 p-5 basis-1/5' }
  %h2.text-color-secondary.font-bold.text-center= lesson.subtype.titleize
  %h3.text-color-secondary.font-bold.text-center= lesson.title
  = image_tag lesson.icon_filename, class: 'w-full'
  = render 'teachers/lesson_resources', lesson:
