%main.flex.flex-col.gap-3.p-3
  %h1= t('.greet', name: @user.name)
  %h3= @user.email
  %h3 You're a teacher at #{@user.school.name}

  = link_to t('.edit'),
            edit_organisation_teacher_path(@user),
            class: 'btn btn-primary'
