= render 'shared/subtitle', text: "Welcome, #{@user.name}"

%main.flex.flex-col.gap-3.p-3
  - if current_user.ku?
    = link_to t('.edit'),
              edit_organisation_teacher_path(@user),
              class: 'btn btn-primary'

  = render 'teachers/day_select',
           date: @date
