-# locals: (lesson:)

- lesson.class::LISTABLE_ATTRIBUTES.each do |attr|
  = render 'lessons/shared/list_attribute',
            lesson:,
            attr:
- unless lesson.links.empty?
  .flex.flex-col.flex-grow.items-center
    %h3 Links
    %ul.list-disc.list-inside
      - lesson.links.each do |text, link|
        %li
          = link_to text, link, class: 'lesson_link'
