-# locals: (lesson:)

- if lesson.guide.present?
  = link_to file_path(lesson.guide.blob),
            target: '_blank',
            rel: 'noopener',
            class: 'guide_link h-fit flex flex-col gap-1' do
    = image_tag lesson.guide.preview(:thumb),
                class: 'guide_image w-full'
    %h3.rounded.text-white.bg-main.text-center.p-2.font-semibold
      Download Guide

- else
  %h3.guide_link Guide missing, try editing the lesson again or call Brett
