-# locals: (attr:, f:, lesson:)

- value = lesson.send(attr).instance_of?(Array) ? lesson.send(attr).join("\n") : lesson.send(attr)

.form-group
  = f.label attr
  = f.text_area attr,
                value:,
                rows: 4,
                style: 'min-height: 6rem'
  - if attr.to_s.include?('notes')
    %small.-mt-1 These are curriculum team notes, teachers will not see them.
  %small.-mt-1 Separate items with new lines
  - if attr.to_s.include?('lang_goal')
    %small.-mt-1 More than 3 lines will work but be ridiculously small
