-# locals: (attr:, f:, lesson:)

.flex.flex-col.gap-3
  - if lesson.send(attr).present?
    = image_tag lesson.send(attr),
                alt: lesson.send(attr).filename

  .form-group
    = f.label attr, t('.image')
    = f.file_field attr,
                   accept: %w[image/jpeg image/png]
    %small Only JPG/JPEG or PNG files
    %small Dimensions are 200x130, I think Daniel & Luis made a Google Slides template to size it in
