%main.flex.flex-col.items-center.justify-center.p-3
  = link_to 'Back to Lesson',
            lesson_path(@lesson), class: 'btn btn-secondary'

  = render 'shared/diff', diff: @diff

  = form_with url: lesson_version_path(@lesson), method: :patch do |f|
    = f.submit 'Revert these changes', class: 'btn btn-main'
