- headers = Student::CSV_HEADERS

%section.w-full.text-center.flex.flex-col.gap-3
  %h3 CSVs should be formatted as follows:
  %table.w-full
    %thead
      %tr
        - headers.each do |header|
          :ruby
            classes = 'thead bg-secondary-50'
            classes = "#{classes} thead-s" if header == Student::CSV_HEADERS.first
            classes = "#{classes} thead-e" if header == Student::CSV_HEADERS.last

          %th{ class: classes }= header
    %tbody
      %tr
        %td 陽葵
        %td Timmy Thomas
        %td 236u2345nsghsferf4
        %td sky_two
        %td 2
        %td 784
        %td 2019-09-01
        %td 2022-09-01
        %td 2013-01-01
      %tr
        - headers.each do |_|
          %td ...
      %tr
        %td Name in Japanese
        %td Name in English
        %td
          %p A string of letters and numbers
          %p Or can be left blank to auto-generate
        %td One of the KidsUP levels in snake_case
        %td The numeric ID of the school
        %td The numeric ID of the parent, can be blank
        %td YYYY-MM-DD
        %td YYYY-MM-DD
        %td YYYY-MM-DD
