-# locals: (organisations:)
%details.dropdown.bg-secondary.text-white
  %summary.font-semibold.p-2 Organisation specific checker (spy)
  %nav.dropdown-nav
    = link_to 'All organisations',
              teacher_events_path(category: params[:category]),
              class: "dropdown-item #{'active' if params[:organisation_id].blank?}"

    - organisations.each do |org|
      - active = params[:organisation_id].to_s == org.id.to_s
      = link_to org.name,
                teacher_events_path(category: params[:category], organisation_id: org.id),
                class: "dropdown-item #{'active' if active}"
