-# locals: (courses:)

%table.text-center
  %thead
    %tr
      %th.thead.thead-s.bg-secondary-50 Name
      %th.thead.bg-secondary-50 Status
      %th.thead.thead-e.bg-secondary-50 Description
  %tbody
    - courses.each do |course|
      %tr
        %td= link_to course.title, course_path(course)
        %td= render 'shared/visibility_toggles', resource: course
        %td= (course.description.presence || 'なし')
