= render 'shared/subtitle', text: t('.courses')

%main.flex.flex-col.gap-3.p-3
  %nav
    = link_to 'Lesson/Course Matrix',
              lesson_uses_path,
              class: 'btn btn-info'
    = link_to 'Create course',
              new_course_path,
              class: 'btn btn-info'

  = render 'courses/course_table', courses: @courses
