= render 'shared/subtitle', text: t('.courses')

%main.flex.flex-col.gap-3.p-3
  = link_to 'Lesson/Course Matrix', lesson_uses_path
  = link_to 'Create course',
            new_course_path,
            class: 'btn btn-primary'

  = render 'courses/course_table', courses: @courses
