-# locals: (classes:)

%svg{ xmlns: 'http://www.w3.org/2000/svg',
      height: '48px', viewBox: '35 30 65 70',
      width: '48px', fill: '#aadaeb', class: classes }
  %path{ d: 'M85.788,83.55h-36.576c-1.519,0-2.75-1.231-2.75-2.75s1.231-2.75,2.75-2.75h36.576c1.519,0,2.75,1.231,2.75,2.75s-1.231,2.75-2.75,2.75Z' }
  %path{ d: 'M85.788,70.25h-36.576c-1.519,0-2.75-1.231-2.75-2.75s1.231-2.75,2.75-2.75h36.576c1.519,0,2.75,1.231,2.75,2.75s-1.231,2.75-2.75,2.75Z' }
  %path{ d: 'M85.788,56.95h-36.576c-1.519,0-2.75-1.231-2.75-2.75s1.231-2.75,2.75-2.75h36.576c1.519,0,2.75,1.231,2.75,2.75s-1.231,2.75-2.75,2.75Z' }

