@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	details[open] {
		@apply z-10;
	}

	input,
	select,
	textarea {
		@apply border-2 border-main rounded bg-white;
		padding: 0.25rem;

		&:disabled {
			cursor: not-allowed;
			background-color: #f5f5f5;
		}
	}

	input[type="submit"] {
		border: none;
	}

	input::-webkit-inner-spin-button,
	input::-webkit-outer-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}

	main {
		@apply h-full bg-neutral-light mt-14 overflow-y-scroll w-full;
	}

	#main-nav {
		@apply w-16;

		.main-nav-link {
			@apply basis-16 flex items-center justify-center hover:scale-105 transition text-main-nav-inactive gap-3;

			&.active {
				color: white;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: -3px;
					bottom: 0;
					border-radius: 0.5rem;
					width: 6px;
					background-color: white;
				}
			}
		}

		.main-nav-link-text {
			@apply hidden font-bold;
		}
	}

	#main-nav.open {
		@apply w-48;

		.main-nav-link {
			@apply justify-start px-4;
		}

		.main-nav-link-text {
			@apply block;
		}
	}

	small {
		@apply text-sm text-slate-400;
	}
}

@layer components {
	.btn {
		@apply rounded text-white;
		cursor: pointer;
		padding: 0.5rem 1rem;
		font-weight: 700;
		text-align: center;

		&:disabled {
			cursor: not-allowed;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	.btn-primary {
		@apply bg-main;
	}

	.btn-danger {
		@apply bg-danger text-white;

		&:hover {
			@apply bg-red-500;
		}
	}

	.btn-secondary {
		@apply bg-secondary;
	}

	.card {
		@apply bg-white rounded shadow-lg shadow-gray-200;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}

	.form-group {
		@apply w-full flex flex-col items-stretch gap-2;

		label {
			@apply text-xl font-bold text-center;
		}
	}

	.dropdown {
		@apply cursor-pointer bg-secondary text-white font-semibold rounded overflow-hidden shrink-0;
	}

	.lvl_nav {
		@apply basis-1/6 text-center rounded md:rounded-t md:rounded-b-none border-t-2 border-x-2 border-b-2 md:border-b-0 border-secondary;

		&.active {
			@apply md:relative p-1 md:p-2 md:after:h-2 md:after:w-full md:after:absolute md:after:-bottom-1 md:after:left-0 md:after:bg-neutral-light;
		}

		&.inactive {
			@apply border-secondary-50 text-secondary-50 md:mt-2 p-1;
		}
	}

	.resources-dialog {
		@apply inset-0 bg-transparent h-screen w-screen overflow-hidden;

		.body {
			@apply h-3/5 w-5/6 md:w-2/3 relative bg-white rounded border-2 border-secondary mx-8 md:mx-auto my-40;
			box-shadow: 0 0 20px #4ba0b7;
		}

		&::backdrop {
			@apply bg-main bg-opacity-50;
		}

		.btn-close {
			@apply absolute -top-10 -right-10 w-20;
		}

		.btn-resource {
			@apply flex items-center border-2 border-secondary text-secondary py-1 px-3 rounded;

			&:active,
			&:hover {
				@apply bg-secondary text-white;

				svg {
					@apply fill-white;
				}
			}
		}

		.tab {
			@apply absolute -left-16 w-16 bg-white rounded-s border-l-2 border-y-2 border-secondary flex items-center;
			height: 20%;

			&:nth-of-type(1) {
				top: 15%;
			}

			&:nth-of-type(2) {
				top: 40%;
			}

			&:nth-of-type(3) {
				top: 65%;
			}

			&.inactive {
				@apply grayscale bg-neutral-light border-r-2 border-secondary;
			}
		}
	}

	.tab-nav {
		@apply h-12 w-full flex flex-col md:flex-row justify-center gap-2 md:border-b-2 md:border-secondary text-nowrap;
	}

	.sub_nav_link {
		@apply bg-secondary text-white rounded p-2;
	}

	#subtitle {
		@apply absolute top-0 left-0 right-0 ps-16 bg-white text-secondary font-extrabold h-14 flex items-center justify-center gap-6;

		h1 {
			@apply text-sm md:text-base;
		}

		a {
			@apply items-center justify-center h-full text-nowrap;
		}

		a#back {
			@apply ml-16;
		}
	}

	.thead-e {
		@apply rounded-e;
	}

	.thead {
		@apply p-2 text-white border-r border-r-white;
	}

	.thead-s {
		@apply border-r border-r-white rounded-s;
	}

	.turbo-progress-bar {
		display: none !important;
	}
}
