@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ku-blue: #5bb6d5;
	--ku-gray-100: #f9f9f9;
	--ku-gray-500: #b1a9bc;
	--ku-gray-900: #b3abc0;
	--ku-orange: #fab650;
	--ku-purple: #7e7195;
}

@layer base {
	h1 {
		@apply text-3xl text-center;
	}

	h2 {
		@apply text-2xl text-center;
	}

	h3 {
		@apply text-xl;
	}

	input:not([type="submit"]),
	select,
	textarea {
		border: 1px solid #000000;
		border-radius: 0.25rem;
		padding: 0.25rem;

		&:disabled {
			cursor: not-allowed;
			background-color: #f5f5f5;
		}
	}

	small {
		@apply text-sm text-slate-300;
	}
}

@layer components {
	.btn {
		cursor: pointer;
		border-radius: 0.25rem;
		padding: 0.5rem 1rem;
		font-weight: 700;
		text-align: center;

		&:disabled {
			cursor: not-allowed;
		}

		&:hover {
			opacity: 0.9;
		}
	}

	.btn-primary {
		background-color: var(--ku-orange);
		color: #ffffff;
	}

	.btn-danger {
		background-color: #dc3545;
		color: #ffffff;
	}

	.btn-info {
		background-color: var(--ku-blue);
		color: #ffffff;
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
	}

	.form-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	.turbo-progress-bar {
		display: none !important;
	}
	 .week-arrow {
		@apply rounded-full flex items-center font-extrabold text-3xl text-ku-orange border-4 border-ku-orange p-1;
	 }
}
