-# locals: ()

%nav.flex.items-center.gap-3.bg-ku-orange.h-16.text-white.font-bold.p-3
  = link_to root_path do
    %h1 Logo
  = ja_date(Time.zone.today)
  .flex-grow
  - if controller_name != 'registrations'
    = link_to t('.sign_up'),
              new_registration_path(resource_name)
  - if controller_name != 'sessions'
    = link_to t('.sign_in'),
              new_session_path(resource_name)
