-# locals: (show_sign_in: true)

%nav.fixed.top-0.left-0.right-0.h-14.bg-white.text-secondary.font-extrabold.flex.items-center.justify-end.px-3.z-10
  = locale_toggle(classes: 'fill-secondary', link_classes: 'inline-flex items-center')

  - if show_sign_in && controller_name != 'sessions'
    = link_to t('.sign_in'),
              new_session_path(resource_name)
