<p><%= @resource.name %> 様</p>

<p>パスワードの変更は以下のURLより行ってください。</p>

<p>
  <%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  パスワードの変更を希望されない場合はこのメールを無視してください。<br>
  URLにアクセスし、パスワードの変更をするまで変更されません。
</p>

<p>よろしくお願いいたします。<br>Vision UP</p>
