-# locals: (parent:)

- redacted = %w[password password_confirmation]

%tr.uploaded{ data: { controller: 'upload-summary',
                      'upload-summary-status-value': 'Uploaded' } }
  - Parent::CSV_HEADERS.each do |header|
    - next if redacted.include?(header)

    %td.bg-success= parent.send(header)
  %td.bg-success ****
  %td.bg-success ****
  %td.bg-success.flex.items-center.justify-center.gap-2.p-2
    %p Uploaded
    %span.material-symbols-outlined download_done
