-# locals: (parent:)

%tr.uploaded{ data: { controller: 'upload-summary',
                      'upload-summary-status-value': 'Uploaded' } }
  %td.bg-success= parent.name
  %td.bg-success= parent.email
  %td.bg-success ****
  %td.bg-success ****
  %td.bg-success.flex.items-center.justify-center.gap-2.p-2
    %p Uploaded
    %span.material-symbols-outlined download_done
