-# locals: (attachment:, label:)

= link_to rails_blob_url(attachment),
          target: '_blank',
          rel: 'noopener',
          class: 'btn btn-main resource flex justify-between gap-2' do
  %span.truncate= label
  = inline_svg_tag 'download_icon.svg', class: 'fill-white flex-shrink-0'
