- @students.each do |student|
  %section.print-page
    - report_pdf = StudentReportPdf.new(student, pearson: true)

    - html = ApplicationController.render( template: report_pdf.template, layout: false, assigns: report_pdf.assigns )

    = raw(html)
