-# locals: (questions:)

.flex.flex-wrap.justify-around
  - questions.each_value do |scores|
    %td
      %ul
        - scores.each_with_index do |score, i|
          %li Q#{i + 1}: #{score} #{'point'.pluralize(score)}
