-# locals: (active_lesson:, date:, lessons:, level:, teacher_id:, type:)

:ruby
  return if lessons.size <= 1

- lessons.each do |l|
  - active = l == active_lesson

  = link_to teacher_lesson_path(l, teacher_id:, type:, level:, date:, subtype: params[:subtype]),
            class: "tab #{active ? 'active' : 'inactive'}" do
    = image_tag tab_icon_path(l)
