!!! 5
%html
  %head
    = yield :title
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
  %body.h-screen.w-screen
    = yield
